{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2>Kalkulator</h2>
        <form method="POST" action="{% url 'roof' %}">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Dalej">
            </div>
        </form>

        {% if result %}
            <div class="result">
                <h4>Wynik: {{ result }}</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
