{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <h2>Wynik dla dachu</h2>
    <p>Mury: ...</p>
    <p>Dach: {{ typ_dachu }}</p>
    <p>Długość: {{ dlugosc }}</p>
    <p>Wynik: {{ wynik }}</p>
    <p>Poniżej podsumowanie: ...</p>
    <a href="{% url 'save_project' %}" class="btn btn-primary">Zapisz</a>
  </div>
{% endblock %}
