{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h2>Wybierz typ dachu</h2>
    <form method="POST" action="{% url 'roof' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Oblicz">
    </form>
  </div>
{% endblock %}
